<section class="book-list-container">
  <h1>Bem vindo, {{user.usua_nome}}</h1>
  <h2>Seus livros:</h2>

  <div *ngIf="showLoader else bookList" class="loader"></div>


  <ng-template #bookList>

    <ul class="books-list">
      <li class="book-item" *ngFor="let book of books">
        <a routerLink="book/{{book._id}}">
          <div class="book-image">
            <img width="50px" src="{{book.url_img}}" alt="">
          </div>
          <p>{{book.title}}</p>
        </a>
      </li>
    </ul>
  </ng-template>
</section>