a {
  display: block;
  color: #4b66e1;
  font-weight: 600;
  width: 60px;
  margin: 15px 45px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  height: calc(100vh - 110px);
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 300px;
  background-color: #4b66e1;
  border-radius: 8px;
}

.image-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  border-radius: 8px;
  background-color: #fff;
  padding: 8px;
}

.image-content img {
  width: 100%;
  border-radius: 8px;
}

.details-container h1 {
  margin-top: 20px;
  font-size: 1.12rem;
  font-style: italic;
}

.details-container .p-description { 
  font-size: 0.9rem;
  margin-top: 20px;
  max-width: 400px;
}

.details-container .actions button {
  
  width: 100px;
  height: 50px;
  border-radius: 4px;
  margin: 15px;
  border: none;
  background-color: #4b66e1;
  color: #FFF;
  cursor: pointer;
}

.pop-up-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 360px;
  background-color: #fff;
  
  overflow: hidden;
  animation: pop-up .1s linear;
}

.pop-up-delete p {
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  font-size: .9rem;
  animation: pop-up .15s linear;

}

.pop-up-delete p span {
  font-weight: 600;
  font-style: italic;
}

.pop-up-delete .options {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid #4b66e1ae;
}

.pop-up-delete .options button {
  width: 200px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #4d4d4d;
  transition: all .25s ease-in-out;
}

.pop-up-delete .options button:hover {
  background-color: #abababbf;
}

.pop-up-delete .options button:active {
  background-color: #fff;
}

.pop-up-delete .options button:nth-child(1) {
  background-color: #fd2727;
  color: #fff;
}

.pop-up-delete .options button:nth-child(1):hover {
  background-color: #ff4444;
}

.pop-up-delete .options button:nth-child(1):active {
  background-color: #ff8080;
}


@media (max-width: 600px) {
  .pop-up-delete {
    width: 60%;
  }
}

@keyframes pop-up {
  0% {
    width: 0;
  }

  100% {
    width: 360px;
    height: auto;
  }
}

@keyframes fade {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}