.book-list-container h1 {
  font-size: medium;
  margin-top: 20px;
}

.book-list-container h2 {
  font-size: smaller;
  margin-bottom: 20px;
}

.book-list-container h1,
.book-list-container h2 {
  margin-left: 30px;
}

.book-list-container {
  display: flex;
  flex-direction: column;
}


.book-list-container p {
  max-width: 320px;
  margin: 0 auto;
}

.books-list, .no-books {
  display: grid;
  margin: 10px 30px;
  grid-template-columns: repeat(auto-fit, minmax(125px, 150px));
  grid-auto-rows: auto;
  gap: 1.5em;
  justify-items: center;
}

.no-books {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.book-item {
  max-width: 150px;
  width: 100%;
  background-color: rgb(232, 232, 232);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  max-height: 300px;
  height: 100%;
}

.book-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  color: #000;
}

.book-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  background-color: #ccc;
}

.book-item img{
  width: 120px;
  height: 180px;
  padding: 10px;
}

.book-item p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.8rem;
  width: 70%;
  height: 35px;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 925px) {
  .books-list {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}