<header class="header">

  <nav>
    <a routerLink="">BShelf</a>
    <ul>      
      
      <li>
        <button (click)="goHome()">
          <i class="bi bi-journals"></i>
          Livros
        </button>
      </li>
      
      <li>
        <button (click)="goToMyBooks()">
          <i class="bi bi-book"></i>
          Meus Livros
        </button>
      </li>

      <li>
        <button (click)="addBook()">
          <i class="bi bi-plus-square"></i>
          Adicionar
        </button>
      </li>

      <li>
        <button class="logout-btn" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          Sair
        </button>
      </li>
    </ul>
  </nav>
</header>
