.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--bg-main);
  padding: 0 20px;
}

.title-container img {
  margin-top: 1em;
  width: 120px;
}

.title-container h1 {
  position: absolute;
  font-family: sans-serif;
  color: #000;
  top: 3.5em;
  left: 50%;
  transform: translateX(-50%);

  font-size: 2em;
}

.login-container form {

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  height: 80%;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}



.login-container form label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  padding-left: 5px;
  padding-bottom: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: relative;
  width: 100%;
  margin: 5px;
  font-size: 1rem;
}

.form-group a {
  font-size: .8rem;
  font-weight: 600;
  width: 95px;
  height: 25px;
  position: relative;
  right: 0;
  text-decoration: none;
  color: #4186ff;
  border: 1px solid transparent;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.form-group a::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background-color: #004fd8;
  bottom: 2px;

  transition: all .1s ease-in-out;
}
.form-group a:hover {
  color: #004fd8;
}
.form-group a:hover::before {
  width: 100%;
}

.form-group:nth-child(2){
  margin-top: 10px;
}

.form-group input {
  min-width: 100%;
  height: 30px;
  padding: 1.4em;
  padding-left: 1em;
  outline: none;
  border: 1px solid #bebebe;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.form-group button[type="submit"] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 40px;
  padding: 0;
  border: none;
  margin-top: 2em;
  background-color: rgb(74, 74, 255);
  color: #FFF;
  cursor: pointer;
}

.form-group button[type="submit"] .loader {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.form-group button[type="submit"] .loader::before {
  border: 3px solid #fff;
}

.form-group button[type="submit"]:hover {
  background-color: rgb(61, 61, 200);
}

.form-group input:not([type="submit"]):hover,
.form-group input:not([type="submit"]):focus {
  border-color: #26a0da;
  box-shadow: 0 0 10px #26a1da9e;
}