/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import './popup.css';
@import './components.css';

:root {
  --bg-main: #6088ffe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.warning-invalid {
  font-size: 12px;
  font-weight: 600;
  color: #d33434;
  margin: 5px 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0px;
  width: 100vw;
  height: calc(100vh - 0px);
  overflow: hidden;
  background-color: rgba(118, 118, 118, 0.6);

  animation: fade .2s linear;
}

.container-delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);

  animation: fade .2s linear;
}


.form {
  display: flex;
  align-items: center;
  justify-content: center;


  max-width: 420px;
  width: 100%;
  
  max-height: 800px;

  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
  padding-bottom: 20px;

  margin: 0 auto;
  margin-top: 30px;

  /* animation: slide-down .15s cubic-bezier(.17,.67,.83,.67); */
}

@keyframes slide-down {
  0% {
    top: -100px;
    opacity: 0;
  }

  80% {
    opacity: 30%;
  }

  100% {
    top: 80px;
    opacity: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-height: 745px) {
  .form {
    top: 10px;
  }

  @keyframes slide-down {
    0% {
      top: -100px;
      opacity: 0;
    }
  
    80% {
      opacity: 30%;
    }
  
    100% {
      top: 10px;
      opacity: 100%;
    }
  }
}

/* SPIN LOADER */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  top: 190px;
  left: calc(50% - 24px);
}

.top-5 {
  top: 5px;
}

.left-0 {
  left: 0;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #4b66e1;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}