/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.warning-invalid {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #d33434;
  margin: -10px 0 5px;
  display: flex;
  justify-content: flex-end;
}